/* BUTTON VARIATIONS */
$button-variants: (
  'primary': (
    'bg': $color-transparent,
    'text': $color_white,
    'border': $border-white,

    'hover-bg': $color_primary,
    'hover-text': $color_white,
    'hover-border': $color_primary,
    
    'active-bg': $color_primary,
    'active-text': $color_white,
    'active-border': $color_primary
  ),

  'secondary': (
    'bg': $color_primary,
    'text': $color_white,
    'border': $color_primary,
    
    'hover-bg': $color_teal,
    'hover-text': $color_secondary,
    'hover-border': $color_teal,
    
    'active-bg': $color_teal,
    'active-text': $color_secondary,
    'active-border': $color_teal
  ),

  'outline': (
    'bg': transparent,
    'text': $color_dark,
    'border': $color_dark,

    'hover-bg': $color_dark,
    'hover-text': $color_primary,
    'hover-border': $color_dark,

    'active-bg': $color_dark,
    'active-text': $color_primary,
    'active-border': $color_dark
  )
);


/* =========================================================
   BUTTON SIZES
========================================================= */

$button-sizes: (
  'xsmall': (
    'padding': 0px 10px,
    'font-size': 12px,
    'height': 20px
  ),
  'small': (
    'padding': 0px 20px,
    'font-size': 12px,
    'height': 40px
  ),

  'medium': (
    'padding': 0px 20px,
    'font-size': 14px,
    'height': 45px,
  ),

  'large': (
    'padding': 0px 36px,
    'font-size': 16px,
    'height': 56px
  )
);


/* =========================================================
   MIXINS
========================================================= */

@mixin button-size($size) {

  $config: map-get($button-sizes, $size);

  padding: map-get($config, 'padding');
  font-size: map-get($config, 'font-size');
  min-height: map-get($config, 'height');
}


@mixin button-variant($variant) {

  $config: map-get($button-variants, $variant);
  background-color: map-get($config, 'bg');
  color: map-get($config, 'text');
  border: 1px solid map-get($config, 'border');

  &:hover {
    background-color: map-get($config, 'hover-bg');
    color: map-get($config, 'hover-text');
    border-color: map-get($config, 'hover-border');
    transition: color .3s linear;
  }

  &:focus,
  &:active {
    background-color: map-get($config, 'active-bg');
    color: map-get($config, 'active-text');
    border-color: map-get($config, 'active-border');
  }
}

.e-loop__load-more {
  .elementor-button {
    background-color: transparent;
    font-size: 14px;
    border-radius: 3px;
    color: $color_dark;
    fill: $color_dark;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      color: $color_secondary;
      fill: $color_secondary;
      background-color: transparent;
      outline: none;
      box-shadow: none;
    }

    &:focus-visible {
      outline: 2px solid $color_secondary;
      outline-offset: 2px;
    }
  }
}

.button,
.cta-button,
.elementor-slides .swiper-slide-inner .swiper-slide-contents .elementor-button,
.elementor-widget-form .elementor-form-fields-wrapper .elementor-field-group .elementor-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: $font_secondary;
  font-weight: $fw_semibold;
  line-height: 1;
  letter-spacing: 0.5px;

  border-radius: 0;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
  box-shadow: none;
  &:focus {
    outline: none;
  }

  &:disabled,
  &.disabled {
    color: #777;
    pointer-events: none;
    cursor: not-allowed;
  }
}


/* =========================================================
   BUTTON SIZE CLASSES
========================================================= */

.button {
  &--small {
    @include button-size('small');
  }

  &--medium {
    @include button-size('medium');
  }

  &--large {
    @include button-size('large');
  }
}

.elementor-slides .swiper-slide-inner .swiper-slide-contents .elementor-button,
.elementor-widget-form .elementor-form-fields-wrapper .elementor-field-group .elementor-button {
    &.elementor-size-xs {
        @include button-size('xsmall');
    }

    &.elementor-size-sm {
        @include button-size('small');
    }

    &.elementor-size-md {
        @include button-size('medium');
    }

    &.elementor-size-lg {
        @include button-size('large');
    }
}

/* =========================================================
   BUTTON VARIANT CLASSES
========================================================= */

.button {

  @each $variant, $_ in $button-variants {

    &--#{$variant} {
      @include button-variant($variant);
    }
  }
}

.home-hero-slider .elementor-slides .swiper-slide-inner .swiper-slide-contents .elementor-button.elementor-slide-button,
.elementor-widget-form .elementor-form-fields-wrapper .elementor-field-group .elementor-button {
    @include button-variant('secondary');
}
.home-hero-slider .elementor-slides .swiper-slide-inner .swiper-slide-contents .elementor-button.elementor-slide-button {
    @include tablet {
        @include button-size('medium');
    }
    @include mobile {
        @include button-size('small');
    }
}
.elementor-widget-form .elementor-form-fields-wrapper .elementor-field-group.elementor-field-type-submit {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.elementor-widget-form .elementor-form-fields-wrapper .elementor-field-group .elementor-button[type="submit"] {
     max-width: 200px;
}
.elementor-widget-form .elementor-form-fields-wrapper .elementor-field-group .elementor-button[type="submit"]:hover {
    color: $color_secondary !important;
}