// =========================
// COLORS
// =========================
$color_primary: #D60505;
$color_secondary: #0D3C4C;
$color_accent: #34C759;
$color_teal: #F6D677;

$color_dark: #000000;
$color_white: #FFFFFF;
$color_text: #4F4F4F;
$color_dark_gray: #171717;
$color_transparent: transparent;

$border_white: #FFFFFF;

$text_gray: #E6E6E6;
$border_gray: #E4E4E7;

// =========================
// FONTS
// =========================
$font_primary: "Urbanist", sans-serif;
$font_secondary: "Inter", sans-serif;

// Font weights
$fw_normal: 400;
$fw_semibold: 600;
$fw_bold: 700;

$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;

